// Import partials
@require './_*.styl'


// STYLING FOR HEADER
.header
  position relative
  top -50px

h2.casa-big
  font-size 5em
  text-align center
  a
    color orange
    text-decoration none

ul.nav-bar
  position relative
  top -50px
  display flex
  justify-content center
  border 10px solid red
  li
    font-size 1.8em
    display inline-block
    background-color blue
    margin 0 5px
  a
    color white
    text-decoration none

// STYLING FOR ABOUT PAGE
.about-container
  border 5px solid goldenrod 
  display grid
  grid-template-columns 600px 400px
  grid-template-rows 400px 

.member-forms
  display grid

ul.members-list
  display grid
  grid-template-columns 300px 300px 300px
  grid-template-rows 200px 200px
  justify-items center
  list-style-type none
  li
    border 2px solid blue
    h3, h4, p
      margin 10px 0