// Import partials
@require './_*.styl'


.header
  position relative
  top -50px

h2.casa-big
  font-size 5em
  text-align center
  a
    color orange
    text-decoration none

ul.nav-bar
  position relative
  top -50px
  display flex
  justify-content center
  border 10px solid red
  li
    font-size 1.8em
    display inline-block
    background-color blue
    margin 0 5px
  a
    color white
    text-decoration none

  